<div class="container">

    <nav class="navbar navbar-default">

          <span><a href="/">Inicio</a></span>
          <span><a [routerLink]="['lista-de-libros']">Lista de libros</a></span>
          <span><a [routerLink]="['acerca-de']">Acerca de</a></span>
    </nav>
  
    <div class="encabezado">
      <button  class="glyphicon glyphicon-book mostrar-libros" (click)="isMostrarLista = !isMostrarLista" type="submit">libros</button>
      <div class="misLibros" *ngIf="isMostrarLista" >
        <h2>Mis libros</h2>
        <ul>
          <li></li>
        </ul>
      </div>
      <h1> Club de libros</h1>
    </div>
  
  </div>
