<section class="container" >
  <article *ngIf="valor1" >
    <h1>Texto 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, vel voluptatibus, a animi quae laboriosam omnis ullam non repellat facilis aut! Nesciunt voluptas, eos quibusdam dolor impedit fugiat laborum est.</p>
  </article>
</section>

<section class="container" >
  <article *ngIf="valor2" >
    <h1>Texto 2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, vel voluptatibus, a animi quae laboriosam omnis ullam non repellat facilis aut! Nesciunt voluptas, eos quibusdam dolor impedit fugiat laborum est.</p>
  </article>
</section>
<hr>
<button (click)="valor1 = true" >texto 1</button>
<button  (click)="valor2 = !valor2" >texto 2</button>
